@charset "UTF-8";

.date_item {
  font-size: 1.5em;
  line-height: 25px;
  color: var(--color, #333);
  text-align: center;
  time {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 13px;
  }
  > .name {
    display: block;
    font-size: 0.6em;
    line-height: 11px;
    color: #333;
    word-break: keep-all;
    overflow-wrap: break-word;
    letter-spacing: -0.2px;
    white-space: break-spaces;
  }
  &.holiday {
    color: #e03563 !important;
  }

  // type
  :global(.type_full) & {
    position: relative;
    line-height: 22px;
    time {
      width: 22px;
      height: 22px;
    }
  }

  // font
  :global(.font_gowunbatang) & {
    > .name {
      letter-spacing: -0.5px;
    }
  }
  :global(.font_lineseed) & {
    > .name {
      font-family: $font-family-pretendard;
    }
  }
}
