@charset "UTF-8";

$color-primary: #07689f;
$color-secondary: #5c9dc0;
$color-highlight: #ffb319;
$color-bg: #f1f1f1;
$color-bg-dark: #242a2e;
$color-text: #222;

$color-white: #fff;
$color-black: #000;

$color-box-shadow: rgba(0, 0, 0, 0.2);
