@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard-dynamic-subset.css");

@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GowunBatang-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LineSeed";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MomToDaughter";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/mom_to_daughter.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GangwonEdu";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

$font-family-lineseed: (
  LineSeed,
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  Roboto,
  arial,
  sans-serif
);
$font-family-pretendard: (
  Pretendard,
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  Roboto,
  arial,
  sans-serif
);
$font-family-gowunbatang: (
  GowunBatang-Regular,
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  Roboto,
  arial,
  sans-serif
);
$font-family-gowunbatang-bold: (
  GowunBatang-Bold,
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  Roboto,
  arial,
  sans-serif
);
$font-family-momtodaughter: (
  MomToDaughter,
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  Roboto,
  arial,
  sans-serif
);
$font-family-gangwonedu: (
  GangwonEdu,
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  Roboto,
  arial,
  sans-serif
);
