@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard-dynamic-subset.css");

@font-face {
  font-family: "LineSeed";
  src: url(../../assets/fonts/lineseed_en_rg.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040,
    U+005B-0060, U+007B-007E;
  font-display: swap;
}
@font-face {
  font-family: "LineSeed";
  src: url(../../assets/fonts/lineseed_kr_rg.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+AC00-D7A3;
  font-display: swap;
}

@font-face {
  font-family: "GowunBatang";
  src: url(../../assets/fonts/gowunbatang_rg.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "GowunBatang";
  src: url(../../assets/fonts/gowunbatang_bd.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "MomToDaughter";
  src: url(../../assets/fonts/momtodaughter.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "GangwonEdu";
  src: url(../../assets/fonts/gangwonedu_rg.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "GangwonEdu";
  src: url(../../assets/fonts/gangwonedu_bd.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "HanComMalang";
  src: url(../../assets/fonts/hancom_malang_rg.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "HanComMalang";
  src: url(../../assets/fonts/hancom_malang_bd.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

$font-family-lineseed: (
  LineSeed,
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  Roboto,
  arial,
  sans-serif
);
$font-family-pretendard: (
  Pretendard,
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  Roboto,
  arial,
  sans-serif
);
$font-family-gowunbatang: (
  GowunBatang,
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  Roboto,
  arial,
  sans-serif
);
$font-family-momtodaughter: (
  MomToDaughter,
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  Roboto,
  arial,
  sans-serif
);
$font-family-gangwonedu: (
  GangwonEdu,
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  Roboto,
  arial,
  sans-serif
);

$font-family-hancommalang: (
  HanComMalang,
  -apple-system,
  BlinkMacSystemFont,
  system-ui,
  Roboto,
  arial,
  sans-serif
);
