@charset "UTF-8";

.month_wrap {
  display: flex;
  flex-direction: column;
  width: 105mm;
  height: 148mm;
  padding: 40px 22px 1px;
  margin: 0 1cm 1cm 0;
  text-align: left;
  box-shadow: 4px 6px 6px -2px $color-box-shadow;
  background: #fff;
  // page-break-before: always;
  :global(.type_vertical) &,
  :global(.type_mini) & {
    flex-direction: row;
    width: 148mm;
    height: 105mm;
    padding: 32px;
    .head_area {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 128px;
      height: auto;
      padding: 0 0 4px 8px;
      text-align: left;
    }
    .month_num {
      font-size: 48px;
      line-height: 52px;
      font-weight: 800;
    }
    .month_word {
      flex: 1;
      display: block;
      padding: 0;
      margin-top: 0.1cm;
      margin-left: 0.3cm;
      text-indent: -0.3cm;
      font-size: 10px;
      line-height: 12px;
      font-weight: 400;
      white-space: pre-line;
      opacity: 0.8;
    }
    .month_name {
      font-size: 12px;
      line-height: 16px;
      .year {
        display: block;
      }
    }
  }
  :global(.type_mini) & {
    width: 148mm;
    height: 104.2mm;
    margin: 0;
    box-shadow: none;
    &:nth-child(2n + 1) {
      transform: rotate(180deg);
      // page-break-before: avoid;
    }
  }
  :global(.font_gowunbatang) & {
    .month_num {
      font-weight: bold;
    }
  }

  .head_area {
    height: 160px;
    color: #333;
    text-align: center;
  }
  .content_area {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .month_num {
    display: block;
    font-size: 80px;
    line-height: 96px;
  }
  .month_name {
    display: block;
    font-size: 15px;
    line-height: 18px;
    > .year {
      display: inline-block;
      padding-right: 8px;
    }
  }
  .day_area {
    display: grid;
    height: 40px;
    grid-template-columns: repeat(7, 1fr);
    font-size: 12px;
    line-height: 28px;
    color: #333;
    font-weight: 300;
    .day {
      text-align: center;
      &:first-child {
        color: #e03563;
      }
      &:last-child {
        color: #0074bc;
      }
    }
  }
  .date_area {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-weight: 300;
    flex: 1;
  }
}

@media print {
  .month_wrap {
    margin: 0;
    box-shadow: none;
  }
}
